/**
 * Created by Administrator on 2016/10/2.
 */
@keyframes diqiu {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes daxiang {
  0% {
    background: url("../images/elephantAnimate1.png") no-repeat -28px -10px;
  }
  33% {
    background: url("../images/elephantAnimate1.png") no-repeat -255px -10px;
  }
  100% {
    background: url("../images/elephantAnimate1.png") no-repeat -510px -10px;
  }
}
@keyframes left-houtui {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes right-houtui {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes yun1 {
  0% {
    left: 0;
  }
  25% {
    left: 800px;
  }
  50% {
    left: 500px;
  }
  75% {
    left: 850px;
  }
  100% {
    left: 0;
  }
}
@keyframes yun2 {
  0% {
    right: 50px;
  }
  25% {
    right: 700px;
  }
  50% {
    right: 800px;
  }
  75% {
    right: 200px;
  }
  100% {
    right: 50px;
  }
}
@keyframes yun3 {
  0% {
    left: 200px;
  }
  25% {
    left: 700px;
  }
  50% {
    left: 800px;
  }
  75% {
    left: 500px;
  }
  100% {
    left: 200px;
  }
}
@keyframes zhuyao {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hei {
  0% {
    width: 9000px;
    height: 4500px;
    opacity: 0;
  }
  100% {
    width: 900px;
    height: 450px;
    opacity: 1;
  }
}
@keyframes bai {
  0% {
    width: 9000px;
    height: 650px;
    opacity: 0;
  }
  100% {
    width: 900px;
    height: 65px;
    opacity: 1;
  }
}
